.navLink {
  font-size: 20px;
  line-height: 1.125;
  text-decoration: none;
  margin-right: 24px;
}

.navLink:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .navLink {
    margin-right: 12px;
  }
}
