html {
  font-family: sans-serif;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  color: #000;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul,
ol {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;
}
p,
dl {
  margin-right: 0;
  margin-left: 0;
}
dd {
  margin-right: 0;
  margin-left: 0;
}
table {
  border-spacing: 0;
}
th,
td {
  padding: 0;
}
button {
  cursor: pointer;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a6a6a6;
}
:-ms-input-placeholder {
  /* Internet Explorer 11 */
  color: #a6a6a6;
}
::placeholder {
  /* Others */
  color: #a6a6a6;
  opacity: 1; /* Firefox */
}
